body {font-size:1.7em;}
.description {font-size:1.1em;}
label{font-size:1.2em;}
span.closebtn{font-size:2em;}
.no-touchevents .button--small {font-size:14px; padding:2px 1em;}
.button{font-size:16px;}
.region.region-content {padding:0 1em;}
.views-ui-display-tab-bucket .views-display-setting{font-size:1.1em;}
footer.section .gototop{font-size:2em;}
h2{font-size:1.4em}h3{font-size:1.3em}h4{font-size:1.2em}
.views-ui-view-name h3 {font-weight:100 !important;}