body {
	
}

/* Genrale */
nav li{list-style:none;}
summary{background:#f5eedd; margin:4px 0; padding:4px 8px; font-weight:700;}
details details summary{background:transparent; margin:0; font-weight:100;}
details summary::before {display:inline-block; content:"⇕"; padding:1px 5px; font-size:1.5em; color:#45c;}
details details summary::before{font-size:0.8em;}
tr.odd{background:#eee;}
.label{background:rgba(55,55,55,0.7); color:#fff;}

/* Message */
.message {position: fixed; top: 101px; right: 2px; max-width: 450px; background:rgba(88,88,88,0.2); padding: 8px; border: 1px solid #aaa; border-radius: 8px; z-index:999;}
.Warning.message {color:#c88;}
span.closebtn{}

/* Header */
#header.section{background:#ddd;}
.mbtitle{display:none;}
#header.section nav ul{padding:4px 0 !important; background:#eee; border:2px solid #fff; border-radius:8px;}
#header.section nav li{list-style:none; display:inline; margin:2px 7px 2px 0; padding:2px 8px;}

ul.secondarytabs {padding:5px 0 !important;}
.secondarytabs li{display:inline; margin:7px 7px 0 8px; padding:2px 8px;}
.secondarytabs li.active{text-decoration:underline; color:#555;}

/* Blocks */
table#blocks {width:98%; margin:0 auto;}
table#blocks td {padding:5px 11px; margin:5px;}
tr.region-title {border-top:1px solid #bbb; background:#f4f5f6;}

/* Appearance */
#system-themes-page .theme-selector {padding:20px 40px 20px 0 !important;}

.update-manager-update-form td{padding:5px 11px;}

/* Module/Extend */
td .form-checkbox {margin: 0.2em 0.4em !important;}
td.module {padding:0 8px !important;}

/* node add/edit */
dt::before {display:inline-block; width:1.5em; height:1em; content:"➤"; font-size:1.1em; color:blueviolet;}
.vertical-tabs__pane {padding:5px 15px;}
textarea{overflow:auto; max-width:100% !important;}

/* Admin Panel */
.admin.panel{border:1px solid #555; border-radius:8px; box-shadow:4px 4px 4px #aaa;}

/* Views */


/* Footer */
footer.section{background:#111; color:#ccc; padding:1em 3em 1em 1em; margin-top:1.7em;}
footer.section a{color:#fff;}
footer.section .block-title{display:none;}
footer.section .gototop a{position:fixed; right:1em; bottom:17px; z-index:999; padding:5px 8px; border:1px solid #555; border-radius:1em; color: #fff; background:rgba(55,55,55,0.4);}