{#
/**
 * @file
 * Theme override for a node edit form.
 *
 * Two column template for the node add/edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @see seven_form_node_form_alter()
 */
#}
  <div class="content-edit col-xs-12 col-sm-12 col-md-7">
    {{ form|without('advanced', 'actions') }}	
  </div>
  <div class="node-edit-nodeworkflow-tabs col-xs-12 col-sm-12 col-md-5">
     {{ form.advanced }}
	<div class="node-edit-action"> 
     {{ form.actions }}
    </div>
  </div>
  